In [ ]:
import pandas as pd

In [3]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='cbr250R0471@')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
#         cursor.execute("CREATE DATABASE sales_an")
        print("Connection is established")
except Error as e:
    print("Error while connecting to MySQL", e)

Connection is established

In [ ]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = c.connect(host='localhost', database='sales_an', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS customer_dim;')
        print('Creating table....')
   
        sql=('CREATE TABLE customer_dim'
             +'(\n'
             +'Cust_ID VARCHAR(4) NOT NULL,'
             +'first_name VARCHAR(255) NOT NULL,'
             +'last_name VARCHAR(255) NOT NULL,'
             +'Cust_state VARCHAR(35) NOT NULL,'
             +'Cust_address VARCHAR(255) NOT NULL,'
             +'Cust_postcode INT NOT NULL,'
             +'PRIMARY KEY (Cust_ID)'             
             +')'
             )
        cursor.execute(sql)
        print("Table is created....")
    
        
#         for i, row in df.iterrows():            
#              cursor.execute("INSERT INTO sales.customer_dim(Cust_ID,Cust_state,Cust_address,Cust_postcode,first_name,last_name) VALUES (%s,%s,%s,%s,%s,%s)", 
#                            [row['Cust_ID'],row['Cust_state'], row['Cust_address'], row['Cust_postcode'],row['first_name'],row['last_name']])
#         print('rows executed')
#         conn.commit()
        
except Error as e:
            print("Error while connecting to MySQL", e)

In [ ]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = c.connect(host='localhost', database='sales_an', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS calendar_dim;')
        print('Creating table....')
   
        sql=('CREATE TABLE calendar_dim'
             +'(\n'
             +'Invoice_No VARCHAR(9) NOT NULL,'
             +'Invoice_Date VARCHAR(15)  NOT NULL,'
             +'Invoice_time VARCHAR(9) NOT NULL,'
             +'PRIMARY KEY (Invoice_No)'
#              +'date_year INT NOT NULL,'
#              +'date_month INT NOT NULL,'
#              +'date_day INT NOT NULL'             
             +')'
             )
        cursor.execute(sql)
        print("Table is created....")
    
        
#         for i, row in df.iterrows():            
#              cursor.execute("INSERT INTO sales.invoice(Invoice_No,Invoice_Date,Invoice_time,Cust_ID) VALUES (%s,%s,%s,%s)", 
#                            [row['Invoice_No'],row['Invoice_Date'], row['Invoice_time'], row['Cust_ID']])
#         print('rows executed')
#         conn.commit()
        
except Error as e:
            print("Error while connecting to MySQL", e)

In [ ]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = c.connect(host='localhost', database='sales_an', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS item_dim;')
        print('Creating table....')
   
        sql=('CREATE TABLE item_dim'
             +'(\n'
             +'Item_No VARCHAR(5) NOT NULL,'
             +'Item_type VARCHAR(255) NOT NULL,'
             +'Line_No VARCHAR(3) NOT NULL,'
             +'PRIMARY KEY (Item_No)'             
             +')'
                             )
        cursor.execute(sql)
        print("Table is created....")
    
        
#         for i, row in df.iterrows():            
#              cursor.execute("INSERT INTO sales.item(Item_no,Item_type,Discount,Item_price) VALUES (%s,%s,%s,%s)", 
#                            [row['Item_no'],row['Item_type'], row['Discount'], row['Item_price'] ])
#         print('rows executed')
#         conn.commit()
        
except Error as e:
            print("Error while connecting to MySQL", e)

In [15]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = c.connect(host='localhost', database='sales_an', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS sales_fact;')
        print('Creating table....')
   
        sql=('CREATE TABLE sales_fact'
             +'(\n'
             +'Item_Price FLOAT NOT NULL,'
             +'Quantity INT NOT NULL,'
             +'Discount INT NOT NULL,'
             +'Item_No VARCHAR(5) NOT NULL,'
             +'Cust_ID VARCHAR(4) NOT NULL,'
             +'Invoice_No VARCHAR(9) NOT NULL,'
             +'PRIMARY KEY (Item_No),'
             +'FOREIGN KEY (Item_No) REFERENCES item_dim(Item_No),'
             +'FOREIGN KEY (Cust_ID) REFERENCES customer_dim(Cust_ID),'
             +'FOREIGN KEY (Invoice_No) REFERENCES calendar_dim(Invoice_No)'
             +')'
             )
        cursor.execute(sql)
        print("Table is created....")
    
        
#         for i, row in df.iterrows():            
#              cursor.execute("INSERT INTO sales.customer_dim(Cust_ID,Cust_state,Cust_address,Cust_postcode,first_name,last_name) VALUES (%s,%s,%s,%s,%s,%s)", 
#                            [row['Cust_ID'],row['Cust_state'], row['Cust_address'], row['Cust_postcode'],row['first_name'],row['last_name']])
#         print('rows executed')
#         conn.commit()
        
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('sales_an',)
Creating table....
Table is created....

 df=pd.read_csv("customer sales.csv")

In [ ]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root',  
                        password='cbr250R0471@')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
#         cursor.execute("CREATE DATABASE sales_an")
#         print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

In [ ]:
import mysql.connector as c
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', database='sales_an', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        sql = ( """
                    INSERT INTO sales_an.calendar_dim (Invoice_No, Invoice_Date, 
                                            Invoice_time)
                    SELECT Invoice_No, 
                    Invoice_Date,
                    Invoice_time
                    FROM sales.invoice
                """
              )

        cursor.execute(sql)
        conn.commit()
        conn.close()
except Error as e:
            print("Error while connecting to MySQL", e)

In [ ]:
try:
    conn = msql.connect(host='localhost', database='sales_an', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        sql = ( """
                    INSERT INTO sales_an.customer_dim (Cust_ID, first_name, 
                                            last_name, Cust_state,
                                            Cust_address,
                                            Cust_postcode)
                    SELECT Cust_ID, 
                    first_name,
                    last_name,
                    Cust_state,
                    Cust_address,
                    Cust_postcode
                    FROM sales.customer
                """
              )

        cursor.execute(sql)
        conn.commit()
        conn.close()
except Error as e:
            print("Error while connecting to MySQL", e)

In [5]:
try:
    conn = msql.connect(host='localhost', database='sales_an', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        sql = ( """
                    INSERT INTO item_dim (Item_No, Item_type,Line_No )
                                          
                    SELECT item.Item_No, 
                    item.Item_type,
                    invoiceitem.Line_No
                    
                    FROM sales.item, sales.invoiceitem 
                    WHERE sales.item.Item_No = sales.invoiceitem.Item_No
                    
                    
                """
              )

        cursor.execute(sql)
        conn.commit()
        conn.close()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('sales_an',)

In [16]:
###Loading Sales

try:
    conn = msql.connect(host='localhost', database='sales_an', user='root',
                         password='cbr250R0471@')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
       
        print("You're connected to database: ", record)
        sql = ( """
                    INSERT INTO sales_fact (Item_Price, Quantity, 
                                            Discount, Item_No,
                                            Cust_ID,
                                            Invoice_No)
                    SELECT sales.item.Item_Price, 
                    sales.invoiceitem.Quantity,
                    sales.item.Discount,
                    sales.item.Item_No,
                    sales.invoice.Cust_ID,
                    sales.invoice.Invoice_No
                    FROM sales.item, sales.invoiceitem, sales.invoice,sales.consist
                    WHERE sales.invoiceitem.Item_No = sales.item.Item_No
                    AND sales.consist.Line_No= sales.invoiceitem.Line_No
                    AND sales.invoice.Invoice_No = sales.consist.Invoice_No
                    
                    
                """
              )

        cursor.execute(sql)
        conn.commit()
        conn.close()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('sales_an',)

## Queries
Query1: customers from which state received the highest average discounts

Query 2:on which dates , did DBSMART sold the most products

Query 3: Whats the average item price sold by DBSmart in each state
Select Cust_state,avg(Item_price)
from customer_dim,sales_fact
where sales_fact.Cust_ID=customer_dim.Cust_ID
Group by Cust_state
order by avg(Item_Price) desc;